.base-nav-links {

  &__item {

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.header-link {
  color: $body-color;
}

.ib-link {
  display: inline-block;
  border-radius: $border-radius;
  background-color: $white;
  padding: 7px 15px;
  color: $body-color;
}
.burger {
  display: inline-block;
  background-color: $white;
  border-radius: $border-radius;
  padding: 6px 7px;
  margin-left: 20px;
}
