<header>
  <div class="container-md py-4">
    <nav class="d-flex align-items-center justify-content-between">
      <div class="base-nav-links">
        <a routerLink="" class="base-nav-links__item">
          <jb-logo></jb-logo>
        </a>

        <a href="https://jusan.kz" class="base-nav-links__item header-link">Для себя</a>
        <a routerLink="" class="base-nav-links__item header-link">Для бизнеса</a>
        <a routerLink="/tole" class="base-nav-links__item header-link">Tole</a>
      </div>

      <div>
        <a href="https://ib.jusan.kz" class="ib-link">Войти в банкинг</a>
        <jb-burger></jb-burger>
      </div>
    </nav>
  </div>
</header>
