<swiper [autoplay]="{
        delay: 2500,
        disableOnInteraction: false
        }"
  [slidesPerView]="'auto'"
  [spaceBetween]="30"
  class="main-slider"
>
  <ng-template swiperSlide>
    <div class="slider-item">
      <div class="slider-item__content">
        <h4 class="mb-4">Самое главное, для меня — продать достаточно букетов днем и купить больше материалов вечером.</h4>
        <p class="mb-4">
          Куляш Бейсенова<br/>
          AlmatyGulder
        </p>

        <div class="mb-2">
          <a routerLink="/tole" class="btn">Jusan Tole</a>
        </div>
        <div>
          <a routerLink="/tole" class="btn">Страхование бизнеса</a>
        </div>
      </div>
      <img [src]="'assets/img/slider/slide_1.jpg'" alt="picture 1" loading="lazy" />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="slider-item">
      <div class="slider-item__content">
        <h4 class="mb-4">Самое главное, для меня — продать достаточно букетов днем и купить больше материалов вечером.</h4>
        <p class="mb-4">
          Куляш Бейсенова<br/>
          AlmatyGulder
        </p>

        <div class="mb-2">
          <a routerLink="/tole" class="btn">Jusan Tole</a>
        </div>
        <div>
          <a routerLink="/tole" class="btn">Страхование бизнеса</a>
        </div>
      </div>
      <img [src]="'assets/img/slider/slide_1.jpg'" alt="picture 2" loading="lazy" />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="slider-item">
      <div class="slider-item__content">
        <h4 class="mb-4">Самое главное, для меня — продать достаточно букетов днем и купить больше материалов вечером.</h4>
        <p class="mb-4">
          Куляш Бейсенова<br/>
          AlmatyGulder
        </p>

        <div class="mb-2">
          <a routerLink="/tole" class="btn">Jusan Tole</a>
        </div>
        <div>
          <a routerLink="/tole" class="btn">Страхование бизнеса</a>
        </div>
      </div>
      <img [src]="'assets/img/slider/slide_1.jpg'" alt="picture 3" loading="lazy" />
    </div>
  </ng-template>
</swiper>
