<main>
  <div class="container-md main__container">
    <h1 class="main__title">Откройте счет и ведите бизнес</h1>
    <p class="subtitle subtitle_main">{{ subtitle }}</p>
    <a href="" class="btn btn-primary">Открыть счет</a>
  
    <picture class="main__illustration">
      <source [srcset]="'assets/img/main-bg.webp'" type="image/webp" />
      <img [src]="'assets/img/main-bg.png'" alt="" />
    </picture>
  </div>
</main>


<section class="section-services">
  <div class="container-md">
    <header class="mb-4">
      <h2>Множество возможностей для любых потребностей</h2>
    </header>

    <nav>
      <ul class="list-unstyled list-inline product-nav">
        <li class="list-inline-item"><a href="#" class="product-nav__item product-nav__item_active">Все сервисы</a></li>
        <li class="list-inline-item"><a href="#" class="product-nav__item">Начало бизнеса</a></li>
        <li class="list-inline-item"><a href="#" class="product-nav__item">Бухгалтерия</a></li>
        <li class="list-inline-item"><a href="#" class="product-nav__item">Финансы</a></li>
        <li class="list-inline-item"><a href="#" class="product-nav__item">Сотрудники</a></li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-12 mb-4">
        <div class="product product_blue product_h500">
          <div class="product__content">
            <div class="row">
              <div class="col-12 col-md-5">
                <h3>Jusan Tole</h3>
                <p>Принимайте платежи, продавайте товары или услуги в рассрочку и кредит с помощью QR.</p>
              </div>
              <div class="col-12 col-md-4 ms-auto">
                <div class="tole-badget ms-auto">
                  POS-терминал за один день
                </div>
              </div>
            </div>
  
            <a href="/tole" class="btn">Подключить</a>
          </div>
  
          <picture class="product__illustration">
            <source [srcset]="'assets/img/tole-bg.webp'" type="image/webp" />
            <img [src]="'assets/img/tole-bg.png'" loading="lazy" alt="Jusan Tole">
          </picture>
        </div>
      </div>

      <div class="col-12 col-md-6 mb-4">
        <div class="product">
          <div class="product__content w-75 justify-content-start">
            <h3>Регистрация бизнеса</h3>
            <p>Бесплатно зарегистрируем новый бизнес. Оформим всё за&nbsp;вас. Вы&nbsp;получите готовое&nbsp;ИП</p>
            <a href="#" class="btn btn-secondary mt-5">Подать заявку</a>
          </div>
  
          <picture class="product__illustration">
            <source [srcset]="'assets/img/reg-business-illustration.webp'" type="image/webp" />
            <img [src]="'assets/img/reg-business-illustration.png'" loading="lazy" alt="Регистрация бизнеса">
          </picture>
        </div>
      </div>

      <div class="col-12 col-md-6 mb-4">
        <div class="product">
          <div class="product__content w-75 justify-content-start">
            <h3>Открытие счета</h3>
            <p>Бесплатно зарегистрируем новый бизнес. Оформим всё за&nbsp;вас. Вы&nbsp;получите готовое&nbsp;ИП</p>
            <a href="#" class="btn btn-secondary mt-5">Подать заявку</a>
          </div>
  
          <picture class="product__illustration">
            <source [srcset]="'assets/img/open-account.webp'" type="image/webp" />
            <img [src]="'assets/img/open-account.png'" loading="lazy" alt="Открытие счета">
          </picture>
        </div>
      </div>

      <div class="col-12 col-md-8 mb-4">
        <div class="product product_brown product_h500">
          <div>
            <h3>Налоги в один клик</h3>
            <p>В приложении легко создать шаблон по каждому типу платежа — минимальные суммы взносов и отчислений уже
              предзаполнены</p>
          </div>

          <jb-app-buttons></jb-app-buttons>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <div class="product product_h500">
          <h4 class="mb-4">Страхование бизнеса</h4>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="" class="btn btn-light btn-sm mb-2">Грузов</a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn btn-light btn-sm mb-2">Обязательное</a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn btn-light btn-sm mb-2">Ответственности</a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn btn-light btn-sm mb-2">...</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <a href="#" class="btn btn-lg">Все сервисы</a>
      </div>
    </div>
  </div>
</section>

<section class="black-section">
  <div class="container-md">
    <header class="mb-4">
      <h2>Продавайте, копите, тратьте и занимайте так быстро, как вам нужно.</h2>
    </header>
    <p class="subtitle">Вы видите все денежные потоки, согласуете платежи, следите за точками продаж и платите налоги &mdash; все в одном месте.</p>

    <div class="row commission">
      <div class="col-12 col-md-6 mb-5">
        <div class="h3">0,8%</div>
        <p class="subtitle">комиссия при экваиринге через QR</p>
      </div>
      <div class="col-12 col-md-6">
        <div class="h3">0 KZT</div>
        <p class="subtitle">комиссия при налоговых платежах</p>
      </div>
    </div>
  </div>

  <div class="container-lg">
    <div class="slider-wrap">

      <jb-slider></jb-slider>

    </div>
  </div>
</section>

<section>
  <div class="container-md">
    <header class="mb-4">
      <h2>Тарифы</h2>
    </header>

    <div class="row">
      <div class="col-12 mb-4">
        <div class="product product_blue product_h500">
          <div class="product__content">
            <div class="row">
              <div class="col-12 col-md-5">
                <h3>Собери свой пакет</h3>
                <p>Конструктор тарифа РКО&nbsp;&mdash; оплачивайте только за&nbsp;нужные вам банковские операции. Создайте собственный пакет банковских услуг и&nbsp;экономьте на&nbsp;обслуживании</p>
              </div>
              <div class="col-12 col-md-4 ms-auto">
              </div>
            </div>
  
            <a href="/tole" class="btn">Подключить</a>
          </div>
  
          <picture class="bg-phone">
            <source [srcset]="'assets/img/tariff-phone.webp'" type="image/webp" />
            <img [src]="'assets/img/tariff-phone.png'" loading="lazy" alt="phone" />
          </picture>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="product product_h500">
          <h4>Старт</h4>
          <p>10 платежей бесплатно, далее – 250 тг. за 1 платеж</p>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="product product_h500">
          <h4>Бизнес</h4>
          <p>20 платежей бесплатно, далее – 200 тг. за 1 платеж</p>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="product product_h500">
          <h4>Бизнес ВЭД</h4>
          <p>35 платежей бесплатно, далее – 180 тг. за 1 платеж</p>
        </div>
      </div>
      <div class="col-12">
        <a href="" class="btn btn-lg">Все тарифы</a>
      </div>
    </div>
  </div>
</section>
